
@use "@style/_vars.scss";

.toast {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 35em;
  border-radius: 1em;
  padding: 1em;

  &.success {
    background-image: linear-gradient(45deg, #021533 0%, vars.$dark-background-color 100%);
  }

  &.error {
    background-image: linear-gradient(45deg, #2E0C0C 0%, vars.$dark-background-color 100%);
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;

    .message {
      margin: 0 !important;
      color: vars.$gray4;
    }

    .externalIconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 10px;

      .internalIconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
        width: 2em;
        border-radius: 50%;
      }

      &.error {
        background-color: vars.$transparent_pink;

        .internalIconWrapper {
          background-color: vars.$pink;
        }
      }

      &.success {
        background-color: vars.$transparent_lightblue;

        .internalIconWrapper {
          background-color: vars.$blue;
        }
      }
    }
  }

  &:not(.infinite)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1em;
    width: calc(100% - 2em);
    height: 4px;
    background-color: #50738F;//#001B2B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  &:not(.infinite)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1em;
    height: 4px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    animation: progress 4.7s linear forwards;
  }

  &.success::after {
    background-color: vars.$blue;
  }

  &.error::after {
    background-color: vars.$pink;
  }
}

@keyframes progress {
from {
  width: 0;
}
to {
  width: calc(100% - 2em);
}
}
