

@use "@style/_vars.scss";


.page {
  display: flex;

  .explorer {
    flex: 1;
    min-width: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .manage {
      padding: 1em;
      flex-shrink: 0;
      border-bottom: 1pt solid vars.$gray4;
    }

    .grid {
      list-style: none;
      padding: 1rem;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 1rem;
      width: 100%;
      flex-grow: 1;
      align-items: start;
      align-content: start;
      overflow-y: auto;
      position: relative;
    }
  }

  .storage {
    width: 30%;
    max-width: 33em;
    flex-shrink: 0;
    height: 100vh;
    background: vars.$secondary-background-color;
    border-left: 1pt solid vars.$gray4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4em 1em;
    gap: 4em;

    .progress {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
    }

    .download {
      background: none;
      cursor: pointer;
      background-color: vars.$blue;
      border-radius: 5px;
      padding: 8px 6em;

      .icon {
        width: 2em;
        height: 2em;
        color: vars.$secondary-background-color;
      }

      &:hover {
        background-color: vars.$darkblue;
      }

      &:disabled {
        background-color: vars.$gray4;
        cursor: not-allowed;
      }
    }
  }
}
