
@use "@style/_vars.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 5em;
    height: 2em;
    color: vars.$blue;

    &:not(:disabled):hover {
      cursor: pointer;
      color: vars.$darkblue;
    }

    &:disabled {
      color: vars.$gray4;
    }
  }

  .previous {
    @extend .button;
  }

  .next {
    @extend .button;

    &.loading {
      .icon {
        animation: loadAnim 0.7s infinite;
      }
    }
  }
}


@keyframes loadAnim {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
