

@use "@style/_vars.scss";


.lockinfo {
  height: 6em;
  width: 50%;
  background-color: vars.$primary-background-color;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1pt solid vars.$gray4;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  gap: 1em;

  .locked {
    color: vars.$pink;
  }
  
  .unlocked {
    color: vars.$green;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 5em;
    height: 2em;
    color: vars.$blue;

    &:not(:disabled):hover {
      cursor: pointer;
      color: vars.$darkblue;
    }

    &:disabled {
      color: vars.$gray4;
    }
  }
}
