.logs {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0 2em;
  contain: strict;
}

.logsContainer {
  width: 100%;
  position: relative;

  .transform {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
