
@use "@style/_vars.scss";


.goto {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  z-index: 10;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 3em;
      height: 3em;
      color: vars.$blue;

      &:hover {
        color: vars.$darkblue
      }
    }
  }
}
