
@use "@style/_vars.scss";


.lockscreen {
  height: 100vh;
  width: 100%;
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .refresh {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      width: 5em;
      height: 2em;
      color: vars.$blue;

      &:not(:disabled):hover {
        cursor: pointer;
        color: vars.$darkblue;
      }

      &:disabled {
        color: vars.$gray4;
      }
    }
  }
}
