
@use "@style/_vars.scss";


.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4em;
  background: vars.$primary_background_color;
  border-radius: 25px;
  border: 2pt solid vars.$gray4;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    .hash {
      color: vars.$pink;
    }
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 5em;
    height: 2em;
    color: vars.$blue;

    &:not(:disabled):hover {
      cursor: pointer;
      color: vars.$darkblue;
    }

    &:disabled {
      color: vars.$gray4;
    }
  }

  &::backdrop {
    background-color: vars.$transparent_blue;
    backdrop-filter: blur(25px);
  }
}
