
@use "@style/_vars.scss";
@use "../style.scss";

.form {
  @extend .formClass; 

  .label {
    width: 100%;
    height: 20em;
    border: 2pt dashed vars.$blue;
    background: vars.$transparent_lightblue; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;

      .uploadIcon {
        color: vars.$blue;
      }
    }

    input {
      display: none;
    }

    &:hover {
      background: vars.$transparent_blue;
    }
  }

  .dragging {
    background: vars.$transparent_blue;
    border: 2pt solid vars.$blue;
  }

  .file_zone {
    position: relative;
    width: 100%;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    border: 1pt solid vars.$gray4;
    border-radius: 25px;
    padding: 1em;
    gap: 1em;

    .noFiles {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .file {
      border-radius: 10px;
      background-color: vars.$gray3;
      border: 2pt solid vars.$gray4;
      padding: 1em 2em;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2em;
      width: 100%;

      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1em;

        .name {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1em;
        }

        .size {
          color: vars.$secondary-text-color;
        }
      }

      .icon {
        color: vars.$blue;
      }

      .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 2pt solid vars.$gray4;
        border-radius: 50%;
        padding: 2px;
        color: vars.$gray4;

        &:hover {
          color: vars.$secondary-text-color;
          border: 2pt solid vars.$secondary-text-color;
        }
      }
    }
  }
}
