
@use "@style/_vars.scss";

.page {
  padding: 7em;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: vars.$secondary-background-color;
  gap: 3em;

  .progress {
    position: absolute;
    left: 50%;
    bottom: 10em;
    transform: translateX(-50%);
    height: fit-content;
  } 
}

@media (max-height: 1300px) {
  .page {
    .progress {
      position: absolute;
      left: 5em;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
