
$primary-background-color: #fefefe;
$secondary-background-color: #fafafb;


$blue: #1e88e5;
$gray3: #f4f4f8;
$gray4: #c7c7d4;
$lightblue: #64b5f6;

$primary-text-color: #202020;
$secondary-text-color: #707075;
