
$primary-background-color: #fefefe;
$secondary-background-color: #fafafb;
$dark-background-color: #000C1F;

$lightblue: #64b5f6;
$blue: #1e88e5;
$darkblue: #1976d2;

$pink: #E94957;
$transparent_pink: #E949571a;

$transparent_lightblue: #64b5f61a;
$transparent_blue: #1e88e51a;

$gray3: #f4f4f8;
$gray4: #c7c7d4;

$primary-text-color: #251605;
$secondary-text-color: #526760;
