
@use "@style/_vars.scss";

.table {
  width: 100%;
  background-color: vars.$primary-background-color;

  thead {
    th {
      background-color: vars.$primary-background-color;
      position: sticky;
      top: 0;
    }
  }

  tbody {
    height: 100%;
    color: vars.$secondary-text-color;

    tr:last-child td {
      border: none;
    }
  }


  tr {
    table-layout: fixed;
    height: 5em;

    td, th {
      text-align: center;
      border-bottom: 1pt solid vars.$gray4;
      padding: 1em 2em;
    }

    td .indicator {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
      border-radius: 25px;
      transition: .2s ease-in;

      &.on {
        background-color: vars.$lightblue;
      }

      &.off {
        background-color: lightgray;
        box-shadow: none;
      }

      &.clickable.on:hover {
        cursor: pointer;
        background-color: vars.$blue;
      }

      &.clickable.off:hover {
        background-color: vars.$gray4;
      }
    }
  }
}

