
@use "@style/_vars.scss";
@use "@components/configureForms/style.scss";

$icon_size: 2em;
$step_width: 5em;
$step_gap: 2em;
$line_size: ( $step_width - $icon_size );
$icon_padding: 10px;

.progress {
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $step_gap;

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
      width: $step_width;

      .iconContainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $icon_padding;
        border-radius: 50%;

        .icon {
          width: $icon_size;
          height: $icon_size;
        }

        &::before, &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: calc(100% + $step_gap / 2 - $icon_padding);
          transform: translateY(-50%);
          height: 2px;
          width: $line_size;
          background-color: vars.$gray4;
        }

        &::after {
          background-color: vars.$blue;
          width: 0;
        }

        &.active {
          color: white;
          background-color: vars.$lightblue;
          padding: calc($icon_padding - 2px);
          outline-offset: 2px;
          outline: 2pt dashed vars.$lightblue;

          &::after, &::before {
            left: calc(100% + ( $step_gap / 2 - $icon_padding + 2px ));
          }
        }

        &.done {
          color: vars.$blue;
          background-color: vars.$transparent_blue;

          &::after {
            height: $line_size;
          }
        }

        &.next {
          color: white;
          background-color: vars.$gray4;
        }
      }

      &:last-child .iconContainer::before, &:last-child .iconContainer::after {
        display: none;
      }
    }
  }
}

@media (max-height: 1300px) {
  .progress {
    .list {
      flex-direction: column;

      .step {
        flex-direction: row;
        justify-content: flex-start;
        height: $step_width;

        .iconContainer {
          &::before, &::after {
            left: 50%;
            top: calc(100% + $step_gap / 2 - $icon_padding);
            transform: translateX(-50%);
            width: 2px;
            height: $line_size;
          }

          &::after {
            height: 0;
          }

          &.active {
            position: relative;
            left: 2px;

            &::after, &::before {
              top: calc(100% + ( $step_gap / 2 - $icon_padding + 2px ));
              left: 50%;
            }
          }

          &.done {
            height: $line_size;
          }
        }
      }
    }
  }
}
