
@use "@style/_vars.scss";
@use "../style.scss";

.form {
  @extend .formClass;

  .field {
    .label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30em;

      .input {
        width: 100%;
      }

      &.desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1em;

        textarea {
          width: 100%;
          height: 10em;
          resize: none;
        }
      }
    }

    .filesContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 2em;
      height: 20em;

      .addButton {
        display: flex;
        align-items: center;
        justify-content: center;
        color: vars.$blue;
        background: none;

        &:hover {
          cursor: pointer;
        }
      }

      .files {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: none;
        border: 1pt solid vars.$gray4;
        padding: 1em;
        border-radius: 25px;
        gap: 1em;

        .noFiles {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .file {
          border-radius: 10px;
          background-color: vars.$gray3;
          border: 2pt solid vars.$gray4;
          padding: 1em 2em;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 2em;
          width: 100%;

          .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1em;

            .name {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 1em;
            }

            .size {
              color: vars.$secondary-text-color;
            }
          }

          .icon {
            color: vars.$blue;
          }

          .delete {
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: 2pt solid vars.$gray4;
            border-radius: 50%;
            padding: 2px;
            color: vars.$gray4;

            &:hover {
              color: vars.$secondary-text-color;
              border: 2pt solid vars.$secondary-text-color;
            }
          }
        }
      }
    }
  }
}
