

.form {
    background-color: white;
    padding: 30px;
}
.form input-group {
    margin-bottom: 15px;
}
.form label {
    display: block;
    margin-bottom: 10px;
}
.form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.submit_btn {
    width: 100%;
    font-size: 18px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer; /* Change cursor to pointer on hover */
}
