@use "@style/_vars.scss";


.formClass {
  max-height: calc(100vh - 14em);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 2em;
  border: 1pt solid vars.$gray4;
  border-radius: 25px;
  background-color: vars.$primary-background-color;

  .field {
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
  }
}
